.products__mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  background-color: #f0f0f0;
  font-family: "Host Grotesk", sans-serif;
  font-style: normal;
  padding: 2rem;
  overflow-y: auto;
}

.products__container {
  display: flex;
  flex-wrap: wrap;
  height: 100dvh;
  width: 100%;
  padding: 2rem;
}

.products__emptyContainer {
  display: flex;
  font-size: 1.25rem;
  color: #989898;
}

.product__individualContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  cursor: pointer;

  &:hover {
    filter: opacity(0.7);
    cursor: pointer;
  }
}

.product__info {
  display: flex;
  flex-direction: column;
}

.product__image {
  width: 350px;
  height: auto;
}

.product__category {
  font-size: 1rem;
  font-weight: 100;
  color: #000000;
}

.product__name {
  font-size: 1.25rem;
  font-weight: 500;
  color: #292929;
}

.product__price {
  font-size: 1.5rem;
  font-weight: 300;
  color: #3d3d3d;
}
