.register__mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100dvh;
  width: auto;
  z-index: 10;
  background-color: white;
  color: black;
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 5rem;
  gap: 2rem;
}

.register__siteName--face {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoContainerRegister__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.25em solid #5e5e5e;
  background-color: transparent;
  height: 3em;
  width: 3em;
  animation: rounded 4s ease infinite, pulse 4s linear infinite;
}
.logoContainerRegister__2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e5e5e;
  height: 1.8em;
  width: 1.8em;
  animation: rounded 4s ease infinite, pulse 4s linear infinite;
}
.logoContainerRegister__3 {
  background-color: white;
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

@keyframes rounded {
  0%,
  10%,
  80%,
  100% {
    border-radius: 0%;
  }
  15%,
  37% {
    border-radius: 50%;
  }
}

@keyframes pulse {
  0%,
  10%,
  65%,
  100% {
    transform: scale(1);
  }
  15%,
  18% {
    transform: scale(1.2);
  }
  19%,
  21% {
    transform: scale(1);
  }
  22%,
  26% {
    transform: scale(1.2);
  }
  27%,
  29% {
    transform: scale(1);
  }
  31%,
  45% {
    transform: scale(1.2);
  }
}

.register__siteName {
  display: flex;
  align-items: center;
  font-weight: 100;
  padding: 0.5rem;
  cursor: pointer;
}

.register__siteName--text {
  font-size: 1.5rem;
  font-weight: 100;
}

.register__formContainer {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.register__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.45rem;
  font-size: 1rem;
  font-weight: 100;
  color: #989898;
}

.register__textLink {
  font-size: 0.8rem;
  font-weight: 100;
  color: #989898;
  transition: color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}

.register__nameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.register__nameInput {
  width: 20rem;
  height: 2.5rem;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  background-color: #f2f2f2;
  border-bottom: 0.25rem solid #ffffff;
}

.register__emailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.register__emailInput {
  width: 20rem;
  height: 2.5rem;
  border-radius: 0;
  padding: 1rem;
  background-color: #f2f2f2;
  border-bottom: 0.25rem solid rgb(255, 255, 255);
}

.register__passwordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.register__passwordInput {
  width: 20rem;
  height: 2.5rem;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  background-color: #f2f2f2;
}

.register__submitButton {
  display: flex;
  color: #989898;
  width: 20rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  transition: box-shadow 0.3s ease-in-out, color 0.6s ease-in;

  &:hover {
    box-shadow: 0 0 0.3em 0.2em #f1f1f1;
    color: #000000;
    &:active {
      transform: scale(0.95);
    }
  }
}

.register__createContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
